<%= form_with(model: pdf) do |form| %>
  <% if pdf.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(pdf.errors.count, "error") %> prohibited this pdf from being saved:</h2>

      <ul>
        <% pdf.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="margin-10">
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div class="margin-10">
    <%= form.label 'PDF:', style: "display: block" %>
    <%= form.file_field :pdf_attachment, accept: 'application/pdf', direct_upload: true %>
  </div>

  <div>
    Current Attachment:
    <%= pdf.pdf_attachment.attached? ? link_to(pdf.title, cloudinary_url(pdf.pdf_attachment.key,options = {disposition: "inline"})) : 'None attached' %>
  </div>

  <div>
    <%= form.submit class:'btn btn-primary margin-10' %>
  </div>
<% end %>
