<div id="<%= dom_id pdf %>" style="margin: 5px; width: auto">
  <p> <b><%= pdf.title %> </b></p>
  <p> <i>Last accessed:<%= pdf.last_accessed.strftime('%Y-%m-%d %H:%M %Z') %> </i>; page: <%= pdf.current_page %>
  </p>

  <p>
    Current pdf:
    <% if pdf.pdf_attachment.attached? %>
      <% if pdf.pdf_attachment.previewable? %>
        <%#= image_tag pdf.pdf_attachment.preview(resize_to_limit: [100, 100]) %>
        <%= link_to pdf.title, rails_blob_path(pdf.pdf_attachment, disposition: "inline") %>
      <% else %>
        <%= link_to pdf.title, rails_blob_path(pdf.pdf_attachment, disposition: "inline") %>
      <% end %>
    <% else %>
      No attachment
    <% end %>
  </p>

</div>
