<div id="<%= dom_id pdf %>" style="margin: 5px; width: auto">
  <p> <b><%= pdf.title %> </b></p>
  <p> <i>Last accessed:<%= pdf.last_accessed.strftime('%Y-%m-%d %H:%M %Z') %> </i>; page: <%= pdf.current_page %>
  </p>

  <p>
    Current pdf:
    <% if pdf.pdf_attachment.attached? %>
        <%= link_to pdf.title, cloudinary_url(pdf.pdf_attachment.key,options = {disposition: "inline"}) %>
    <% else %>
      No attachment
    <% end %>
  </p>

</div>
