<div id="<%= dom_id pdf %>">
  <p>
    <strong>Title:</strong>
    <%= pdf.title %>
  </p>

  <p>
    <strong>Last accessed:</strong>
    <%= pdf.last_accessed %>
  </p>

  <p>
    <strong>Current page:</strong>
    <%= pdf.current_page %>
  </p>

  <p>
    <strong>Current pdf:</strong>
    <% if pdf.pdf_attachment.attached? %>
      <% if pdf.pdf_attachment.previewable? %>
        <%= rails_blob_path(pdf.pdf_attachment, disposition: "preview") %>
      <% else %>
        <%= rails_blob_path(pdf.pdf_attachment, disposition: "inline") %>
      <% end %>
    <% else %>
      No attachment
    <% end %>
  </p>

</div>
